@font-face {
  font-family: 'GlitterySnowfall';
  src: url('/assets/font/GlitterySnowfall.ttf')  format('truetype');
}

.cloud-container {
  width: 100vw;
  max-width: 100%;
  padding: 0;
  background-color: #007ced;
  background: linear-gradient(to bottom, #007ced 1%, #cce7ff 100%);
}

@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

#cloud-intro {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(/assets/clouds/clouds1000.png);
  background: url(/assets/clouds/clouds1000.png) 0 200px, url(/assets/clouds/clouds1200_1.png) 0 300px, url(/assets/clouds/clouds1000_blur3.png) 100px 250px;
  animation: wind 20s linear infinite;
}

.nav-link {
  position: relative;
  display: inline-block; 
}

a {
  color: #000;
}

a:hover {
  color: #1d1c1c;
}

body {
  font-family: 'GlitterySnowfall', sans-serif;
  /*
  background: linear-gradient(30deg, #155BFC 30%, #155BFC 100%);
  */
  color: #000;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled {
  background: transparent;
  box-shadow: none;
  color: #000;
  border: 2px solid black;
}

.btn-primary:hover {
  color: #155BFC;
  background: #fff;
  border: 2px solid #fff;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:disabled {
  background: white;
  border-color: black;
  box-shadow: none;
  color: black;
  border: 2px solid black;
}

.btn-secondary:hover {
  color: black;
  border-color: #ffffff;
  background: #ffffff;
  border: 2px solid black;
}

.card-img-wallet:hover {
  opacity: 0.5;
}

.card-img-wallet:active {
  transform: scale(0.8);
}

.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.cursor-pointer {
  cursor: pointer;
}

div {
  font-size: 20px;
}

.dropdown-item {
  cursor: pointer;
}

hr {
  background-color: #000;
}

.img-thumbnail {
  background-color: transparent;
}

.modal-content {
  color: black;
}

.navbar-brand {
  font-family: 'GlitterySnowfall', sans-serif;
  font-size: 2.2rem;
}

.navbar-dark .navbar-brand {
  /*color: #fff;*/
}

.navbar-dark {
  border-radius: 0px 0px 10px 10px;
  /*background: linear-gradient(30deg, #C71585 30%, #c111c3 100%);*/
  background: transparent;
  padding: 20px;
  
}
.navbar-img {
  margin-right: 5px;
}

p {
  font-size: 24px;
}

.punchline-domain, code {
  color: #b35160;
}

.span-link:hover {
  color: #161414;
  text-decoration: none;
  cursor: pointer;
}

.span-link {
  text-decoration: underline;
}

.table > tbody > tr > td {
  color: black;
  background-color: transparent;
}

.Vue-Toastification__toast--info {
  background-color: #405374;
}

.Vue-Toastification__toast--success {
  background-color: #00C9D1;
}

.Vue-Toastification__toast--error {
  background-color: #e26670;
}

.wallet-img-wrapper {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
}

@media only screen and (max-width: 767px) {
  .navbar-menu-btn {
    margin-bottom: 5px;
  }

  .navbar-other-item {
    margin-top: 10px;
  }

  .navbar-menu-buttons {
    display: flex;
    flex-direction: column;
  }

  #sidebar-container {
    margin-bottom: 15px;
  }
}